.third-pague-pandemic-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("/2-1500w.png");
}
.third-pague-pandemic-container1 {
  flex: 0 0 auto;
  width: 85%;
  height: 800px;
  display: flex;
  align-items: center;
  border-radius: 70px;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.8);
}
.third-pague-pandemic-text {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-fourunits);
}
.third-pague-pandemic-text1 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-sixunits);
  margin-right: var(--dl-space-space-sixunits);
}
.third-pague-pandemic-iframe {
  width: 600px;
  height: 320px;
  margin-bottom: var(--dl-space-space-sixunits);
}
